:root {
  font-size: 20px;
  font-family: sans-serif, serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

input {
  flex: 1 1 0;
  font-size: 20px;
  font-family: sans-serif, serif;
}

input:hover {
  cursor: text;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

label {
  flex: 0 0 8rem;
}

.buttons {
  display: flex;
  gap: 10px
}

.buttons>* {
  flex: 0;
}
